.musicstaff{
    float: left;
    position: relative;
}

#cnote {
    position: absolute;
    top: 375px;
    right: 1175px;
}
#ccnote {
    position: absolute;
    top: 350px;
    right: 1110px;
}

#dnote {
    position: absolute;
    top: 350px;
    right: 1050px;
}
#ddnote {
    position: absolute;
    top: 325px;
    right: 980px;
}

#enote {
    position: absolute;
    top: 330px;
    right: 920px;
}
#fnote {
    position: absolute;
    top: 320px;
    right: 850px;
}
#ffnote {
    position: absolute;
    top: 300px;
    right: 770px;
}

#gnote {
    position: absolute;
    top: 300px;
    right: 700px;
}
#ggnote {
    position: absolute;
    top: 280px;
    right: 630px;
}

#anote {
    position: absolute;
    top: 280px;
    right: 560px;
}
#aanote {
    position: absolute;
    top: 330px;
    right: 480px;
}

#bnote {
    position: absolute;
    top: 330px;
    right: 410px;
}
.noteButtons {
    opacity: 0;
}
.reference {
    position: absolute;
    top: 20%;
    right: 80%;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

